{{ form_start(formProduct) }}
    {{ form_row(formProduct.name) }}
    {{ form_row(formProduct.description) }}
    {{ form_row(formProduct.categories) }}
    {{ form_row(formProduct.price) }}
    {{ form_row(formProduct.stock) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(formProduct) }}
